<li>
  <%= gravatar_for user, size: 60 %>
  <%= link_to user.username, user, :style=>"font-size: 150%;" %><br />
  <%= user.email %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>
