<div class="frontpage-row">
    <div class="callout panel radius center frontpage-panel">
    <h2>WELCOME</h2>
    <h3>TO</h3>
    <h1>MIXEGO</h1>
    <hr />
    <%= link_to " Login ", '#', class: "button secondary radius" %>
    <%= link_to "Sign Up", '#', class: "button radius" %>
    </div>
</div>
